.wrap-btn-scroll {
  user-select: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
}

.btn-scroll {
  cursor: pointer;
  padding: 5px 20px;
  color: #686bb3;
  border: 1px solid #3c4650;
  transition: all linear .3s;
  min-width: 85px;
  &:hover {
    background-color: #3c4650;
  }
}

.btn-scroll--up {
  margin-bottom: 5px;
}

// .btn-scroll--down {

// }

.btn-scroll--hide {
  pointer-events: none;
  opacity: 0;
}