.resize {
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 7px 15px;
  border-radius: 5px;
  background-color: #000;
  transform: translate(-50%, -50%);
  opacity: 0;
  &__num {
    margin-left: 7px;
    padding: 1px 3px;
    color: #9b96d7;
    border: 1px solid #9b96d7;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9px;
  }
}

.resize__width {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.resize__height {
  display: flex;
  justify-content: space-between;
  align-items: center;
}