// Подключаем шрифты
@import 'fonts';

// Подключаем normalize.css https://github.com/necolas/normalize.css
@import 'normalize';

// Подключаем общие стили для всего проекта
@import 'config';

// Подключаем контейнер 
@import 'container';

/*! Основные стили */

.header {
  position: relative;
  z-index: 20;
  display: flex;
  align-items: center;
  min-height: 65px;
  background: cadetblue;
}

.header__inner {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  transform-style: preserve-3d;
  width: 45px;
  position: relative;
}

.logo__link {
  display: flex;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  transition: opacity .2s;
  &:hover {
    opacity: .7;
    transform: rotateY(360deg);
    animation: rotate 2s infinite;
  }
}

@keyframes rotate {
  50% {
    transform: rotateY(0deg);
    }
    100% {
      transform: rotateX(360deg);
    }
}

.logo__title {
  user-select: none;
  background: rgb(0, 0, 0);
  box-shadow: 1px 2px 2px 1px rgb(61, 60, 60);
  color: aliceblue;
  padding: 2px 5px;
  position: absolute;
  top: calc(50% - 11.25px);
  right: 0px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
}

.logo:hover .logo__title {
  border-top-right-radius: 250px;
  border-bottom-right-radius: 250px;
  border-top-left-radius: 250px;
  border-bottom-left-radius: 250px;
  visibility: visible;
  opacity: 1;
  right: -115px;
}

.socials {
  display: flex;
  a {
    margin-right: 25px;
    &:last-child {
      margin-right: 0;
    }
      svg {
        display: flex;
        width: 30px;
        height: 30px;
      }
  }
}

.socials svg:hover path {
  transition: all linear .3s;
  fill: #fff;
}

.menu {
  ul {
    list-style: none;
    display: flex;
    li {
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
      a {
        white-space: nowrap;
        padding: 5px;
        text-decoration: none;
        color: black;
        border: 1px solid transparent;
        transition: .7s;
        &:hover {
          border-color: #ffc222;
        }
      }
    }
  }
}

.btn-toggleTheme {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background: transparent;
    svg {
      width: 30px;
      height: 30px;
    }
}

.light-theme {
  svg path {
    fill: #fff;
  }
}

.particles-js-canvas-el {
  position: absolute;
}

.lazy-hidden{background:url(loading.gif) 50% 50% no-repeat #eee}

.adblock-box {
  position: absolute;
  top: 0;
  left: -1000px;
  z-index: -1;
}

.alert-adb {
  display: none;
  position: absolute;
  top: 100px;
  left: calc(50% - 175px);
  z-index: 100;
  // background: pink;
  // width: 350px;
  // height: 350px;
  // border-radius: 10px;
  svg {
    display: flex;
    width: 350px;
    height: 350px;
  }
}

.alert-adb__close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  
}

.alert-adb__close:hover path {
  fill: #f04242;
}