// ==================================================
// Подключаем normalize https://github.com/necolas/normalize.css
@import "./components/normalize";

// Подключаем общие стили для всего проекта
@import "./components/config";

// Подключаем контейнер
@import "./components/container";

// Подключаем переменные
@import "./components/variables";

// Подключаем шрифты
@import "./components/fonts";

// Подключаем noscript
@import "./components/_noscript";

// Подключаем стили для скролл бара
@import "./components/scrollbar";

// Подключаем tooltips
@import "./components/tooltips";

// Блок loader
@import "./components/loader";

// Header
@import "./components/header";

// Блок screen-size
@import "./components/screen-size";

// Блок navigation-btns
@import "./components/navigation-btns";

// Секция about
@import "./components/about";
// ==================================================

// Main scss код:
body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  background-color: #1a1e22;
  color: #d3c4c4;
  height: 10001px;
}

// section {
//   width: 100%;
//   background-image: url(/images/general/background.png);
//   background-repeat: repeat;
//   background-size: cover;
// }

.layers {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2000;
}

.hide-adb {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  top: 150px;
  left: 0;
  width: 130px;
  height: 130px;
}

.scroll-hidden {
  overflow: hidden;
}

.block-hidden {
  visibility: hidden;
}
