.tooltip {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  max-width: 300px;

  opacity: 0;

  pointer-events: none;
  position: absolute;

  padding: 5px 15px;
  border-radius: 14px;
  background-color: black;
  color: black;
  box-shadow: 0 0 0 2px rgba(34, 60, 80, 0.5);
  z-index: 5000;
  transition: all linear .2s;

  &--animate {
    opacity: 1;
    animation: tooltip-animate-visible linear .3s forwards;
  }
}

@keyframes tooltip-animate-visible {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    color: #fff;
  }
}
