// для tooltip нужно делать див обертку!

// tooltip
[data-tooltip] {
  position: relative;
  user-select: none;
  z-index: 1000;
}

// content
[data-tooltip]::before {
  pointer-events: none;
  position: absolute;
  content: attr(data-tooltip);
  padding: 5px 10px;
  border-radius: 14px;
  background-color: black;
  color: #fff;
  white-space: nowrap;
  opacity: 0;
  box-shadow: 0 0 0 2px rgba(34, 60, 80, 0.5);
  transition: all linear 0.1s;
}

// top
[data-tooltip-position="top"] {
  &::before {
    top: $tooltip-distance;
    left: 50%;
    transform: translate(-50%, -100%) scale(0.9);
  }
  &:hover::before,
  &:focus::before {
    opacity: 1;
    transform: translate(-50%, -100%) scale(1);
  }
}

// bottom
[data-tooltip-position="bottom"] {
  &::before {
    bottom: $tooltip-distance;
    left: 50%;
    transform: translate(-50%, 100%) scale(0.9);
  }
  &:hover::before,
  &:focus::before {
    opacity: 1;
    transform: translate(-50%, 100%) scale(1);
  }
}

// left
[data-tooltip-position="left"] {
  &::before {
    left: $tooltip-distance;
    top: 50%;
    transform: translate(-100%, -50%) scale(0.9);
  }
  &:hover::before,
  &:focus::before {
    opacity: 1;
    transform: translate(-100%, -50%) scale(1);
  }
}

// right
[data-tooltip-position="right"] {
  &::before {
    right: $tooltip-distance;
    top: 50%;
    transform: translate(100%, -50%) scale(0.9);
  }
  &:hover::before,
  &:focus::before {
    opacity: 1;
    transform: translate(100%, -50%) scale(1);
  }
}
