[data-theme="dark"] {
  // body && header
  --body-bg: #1a1e22;
  --body-color: #939393;
  --header-bg: #212a33;
  --header-bar-color: #727272;
  --header-logo-color: #939393;
  --header-logo-hover: #fff;
  --header-nav-link-color: #939393;
  --header-nav-link-hover-color: #fff;
  --header-nav-link-active-color: #fff;
  --theme-switcher-color: #939393;
  --theme-switcher-bg: #212a33;
  --theme-switcher-hover: #fff;
  --theme-switcher-menu-bg: #151515;
  --theme-switcher-menu-hover: #000;
  --burger-btn-color: #939393;
  --burger-btn-color-hover: #fff;
  // about
  --about-border-color: #939393;
  --about-bg-color: #121517;
}

[data-theme="light"] {
  --test: 5px; /* удалить это потом */
}
