* {
  margin: 0;
  padding: 0;
  border: 0;

  color: inherit;
  background-color: transparent;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;

  box-sizing: border-box;
  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  &::before,
  &::after {
    box-sizing: inherit;
  }

  &::selection {
    background-color: var(--selection-bg-color);
    color: var(--selection-color);
  }

  &:focus-visible {
    outline: 1px solid var(--main-color);
    outline-offset: 1px;
  }
}

html, body {
  height: 100%;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;
  min-width: 320px;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  user-select: none;
}

svg {
  display: block;
  width: 100%;
  height: auto;
  user-select: none;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/* html {
  overflow-y: hidden;
}

body {
  overflow-y: scroll;
} */
