:root {
  --main-font: "Roboto", sans-serif;
  --second-font: "Rubik", sans-serif;
  --header-padding: 5px 0;
  --header-logo-line-distance: 75px;
  --header-nav-distance: 30px;
  --link-visited-color: blue;
  --selection-bg-color: var(--accent-color);
  --selection-color: var(--black);
  --black: #000;
  --white: #fff;
}

:root[data-theme="dark"] {
  --main-bg-color: #010409;
  --main-color: #e6edf3;
  --content-bg-color: #161b22;
  --accent-color: #888bd5;
  --link-underline-bg-color-left: #686bb3;
  --link-underline-bg-color-right: #475d72;
  --progress-bg-color: #68696c;
  --header-inner-bg-color: #2b323c;
  --nav-extra-bg-color: var(--black);
  // --theme-switcher-bg-color: var(--black);
  // --theme-switcher-menu-icon-hover: var(--black);
}



// [data-theme="dark"] {
//   // body && header
//   --body-bg: #1a1e22;
//   --body-color: #939393;
//   --header-bg: #212a33;
//   --header-bar-color: #727272;
//   --header-logo-color: #939393;
//   --header-logo-hover: #fff;
//   --header-nav-link-color: #939393;
//   --header-nav-link-hover-color: #fff;
//   --header-nav-link-active-color: #fff;
//   --theme-switcher-color: #939393;
//   --theme-switcher-bg: #212a33;
//   --theme-switcher-hover: #fff;
//   --theme-switcher-menu-bg: #151515;
//   --theme-switcher-menu-hover: #000;
//   --burger-btn-color: #939393;
//   --burger-btn-color-hover: #fff;
//   // about
//   --about-color: #a2a2a2;
//   --about-inner-bg-color: #0e1017;
//   --about-card-gradient: linear-gradient(45deg, #212a33 50%, #686868 50%);
//   --about-card-blur: blur(70px);
//   --about-link-bg: blue;
//   --about-link-hover-bg: #717171;
//   --about-link-hover-path: #fff;
//   --about-technologies-item-bg: #939393;
//   --about-technologies-item-color: #fff;
// }

// /* light scheme */
// [data-theme="light"] {
//   //
// }