:root {
  --main-font: 'Roboto', sans-serif;
  --second-font: 'Rubik', sans-serif;
  --header-padding: 5px 0;
  --header-logo-line-distance: 65px;
  --header-nav-distance: 30px;
  --cube-size: 70px;
  --cube-color: var(--accent-color);
  --link-visited-color: blue;
  --selection-bg-color: var(--accent-color);
  --selection-color: var(--black);
  --accent-color: #9fa1d9;
  --link-underline-bg-color-left: #686bb3;
  --link-underline-bg-color-right: #475d72;
  --black: #000;
  --white: #fff;
}

:root[data-theme='dark'] {
  --main-bg-color: #010409;
  --main-color: #e6edf3;
  --content-bg-color: #0f1620;
  --content-substrate-bg-color: #1b212b;
  --progress-bg-color: #262c44;
  --border-color: #282828;
  --nav-extra-bg-color: var(--black);
  --about-card-socials-fill: var(--white);
}

:root[data-theme='light'] {
  --main-bg-color: #f0f0f0;
  --main-color: #010409;
  --content-bg-color: #fff;
  --content-substrate-bg-color: #dfdfdf;
  --progress-bg-color: #d8d8d8;
  --border-color: #d0d0d0;
  --nav-extra-bg-color: var(--white);
  --about-card-socials-fill: var(--black);
}
