@import './components/config';
@import "./components/container";
@import './components/variables';
@import './components/fonts';
/* @import "./components/scrollbar"; */

body {
  font-family: var(--main-font);
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

section {
  margin-bottom: 15px;
}

.no-scroll {
  overflow-y: hidden;
  position: fixed;
  height: auto;
}

.title {
  font-weight: 700;
  font-size: 15px;
}

.link-underline {
  position: relative;

  &::before,
  &::after {
    pointer-events: none;
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    bottom: -4px;
    transition: width linear 0.1s;
  }

  &::before {
    right: 50%;
    background-color: var(--link-underline-bg-color-left);
  }

  &::after {
    left: 50%;
    background-color: var(--link-underline-bg-color-right);
  }

  &--active {
    &::before,
    &::after {
      width: 50%;
    }
  }

  &:focus-visible:not(.link-underline--active)::before,
  &:focus-visible:not(.link-underline--active)::after,
  &:hover:not(.link-underline--active)::before,
  &:hover:not(.link-underline--active)::after {
    width: 50%;
  }
}
