@import './components/config';
@import "./components/container";
@import './components/variables';
@import './components/fonts';
/* @import "./components/scrollbar"; */

body {
  font-family: var(--main-font);
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

.section {
  margin-bottom: 10px;
  &__inner {
    border-radius: 5px;
    border: 1px solid var(--border-color);
    background-color: var(--content-bg-color);
  }
  &__title {
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--content-substrate-bg-color);
    padding: 10px;
    text-align: center;
  }
  &__content {
    padding: 10px;
  }
}

.hidden-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  &--str-one {
    -webkit-line-clamp: 1;
  }
  &--str-two {
    -webkit-line-clamp: 2;
  }
  &--str-three {
    -webkit-line-clamp: 3;
  }
}

.no-scroll {
  overflow-y: hidden;
  position: fixed;
  height: auto;
}

.title {
  font-weight: 700;
  font-size: 15px;
}

.link-underline {
  position: relative;

  &::before,
  &::after {
    pointer-events: none;
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    bottom: -3px;
    transition: width linear 0.1s;
  }

  &::before {
    right: 50%;
    background-color: var(--link-underline-bg-color-left);
  }

  &::after {
    left: 50%;
    background-color: var(--link-underline-bg-color-right);
  }

  &--active {
    &::before,
    &::after {
      width: 50%;
    }
  }

  &:focus-visible:not(.link-underline--active)::before,
  &:focus-visible:not(.link-underline--active)::after,
  &:hover:not(.link-underline--active)::before,
  &:hover:not(.link-underline--active)::after {
    width: 50%;
  }
}
